/*-----FUENTES-----*/

@import url('https://fonts.googleapis.com/css2?family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&display=swap');

/*-----RESET-----*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-----HEADER-----*/
html,
body {
    height: 100%;
}

header {
    background-color: #000000;
}

header section {
    display: flex;
    justify-content: space-around;
}

.navbar {
    background-color: #000000;
}

.navbar-brand {
    font-weight: bolder;
    font-size: 30px;
    color: #ffffff !important;
    padding: 0px 7px 0px 7px;
}

.navbar-brand:hover {
    background-color: #ffffff97;
    border-radius: 8px;
    color: #000000 !important;
}

.nav-item {
    font-weight: bolder;
    font-size: 20px;
}

.active {
    color: #ffffff !important;
    padding: 1px;
    transition: background-color 0.3s ease, border-radius 0.3s ease, color 0.3s ease;
    border-radius: 5px;
}

.active:hover {
    background-color: #ffffff97;
    border-radius: 8px;
    color: #000000 !important;
}

.btn {
    background-color: #000000;
}

.navbar-toggler-icon {
    background-color: #ffffff;
    border-radius: 3px;
}

h1 {
    color: #ffffff;
    font-size: 60px;
    font-style: italic;
    text-align: center;
    font-weight: bolder;
}

.img-icono {
    width: 50px;
    height: auto;
    margin-top: 10px;
}

.img-icono:hover {
    transform: scale(1.1);
}

/*-----MAIN-----*/

body {
    background-color: #68686841;
    font-family: "Libertinus Sans", sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

main section h2 {
    color: #000000;
    text-align: center;
    font-size: 45px;
    font-weight: bolder;
}

main section h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 16px;
}



main section p {
    font-size: 20px;
    font-weight: bold;
}

img {
    border-radius: 8px;
}

form select {
    padding: 4px;
}

form input {
    padding: 3px;
}

form label {
    margin: 5px;
}

form textarea {
    padding: 5px;
    width: 400px;
    height: 90px;
}

.combo {
    margin: 15px 0px 15px 20px;
    display: flex;
    align-items: center;
}

.carrito-de-compra .carro h2 {
    text-align: left;
    margin-left: 15px;
}

.carrito-de-compra .carrito-2 img {
    width: 200px;
    height: 250px;
}

.carrito-de-compra .carrito-2 {
    display: flex;
    margin: 50px;
    gap: 20px;
}

.carrito-de-compra .carrito-2 div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carrito-de-compra .carrito {
    margin: 30px;
    display: flex;
    align-items: center;
}

.carrito-de-compra .carrito img {
    width: 280px;
    height: 320px;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-right: 15px;
}

.carrito-de-compra h4 {
    font-weight: bolder;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    font-size: 20px;
}

.buttom {
    background-color: #000000;
    color: #ffffff;
    border-radius: 10px;
    padding: 6px 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid white 1px;
}

.prod-galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 500px;
    align-items: center;
}

.prod-galeria .tarjeta img {
    width: 250px;
    height: 300px;
}

.prod-galeria .tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prod-galeria button {
    background-color: #000000;
    color: #ffffff;
    border-radius: 10px;
    padding: 5px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.container .tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .tarjeta img {
    width: 300px;
    height: 300px;
}

.container .img-4 {
    grid-column: span 3;
}

.container .img-4 img {
    width: 100%;
    height: 100%;
}

.cont-flex {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.cont-flex .tarjeta img {
    width: 250px;
    height: 300px;
}

.cont-flex .tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.combo ul {
    list-style: none;
    font-weight: bold;
}

.combo img {
    width: 500px;
    height: 350px;
    margin-right: 10px;
}
/*-----FOOTER-----*/

footer {
    background-color: #000000;
}

footer h2 {
    text-align: center;
    color: #ffffff;
    font-size: 25px;
}

footer p {
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

footer div img {
    width: 70px;
    height: 70px;
    margin: 14px;
}

footer iframe {
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}


/*----- MEDIA QUERIES -----*/
@media screen and (max-width:995px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }

    .container .img-4 {
        grid-column: span 1;
    }

    .container .img-4 img {
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width:883px) {
    .prod-galeria {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:848px) {
    .cont-flex {
        flex-direction: column;
        padding: 0%;
    }

    .cont-flex .tarjeta {
        padding: 30px;
    }

    .cont-flex .tarjeta img {
        width: 300px;
        height: 350px;
    }
}

@media screen and (max-width:820px) {
    h1 {
        font-size: 50px;
    }

    .container {
        grid-template-columns: 1fr;
    }

    .container .tarjeta img {
        width: 400px;
        height: 400px;
    }

    .footer-container {
        flex-direction: column;
    }

    footer iframe {
        width: 300px;
    }

    .img-icono {
        width: 40px;
    }
}

@media screen and (max-width:700px) {
    h1 {
        font-size: 40px;
    }

    .container .tarjeta img {
        width: 350px;
        height: 350px;
    }

    .img-icono {
        width: 30px;
    }
}

@media screen and (max-width:587px) {
    .prod-galeria {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:527px) {
    .carrito {
        flex-direction: column;
    }
}

@media screen and (max-width:518px) {
    .img-icono {
        width: 40px;
    }

    .container .tarjeta img {
        width: 250px;
        height: 250px;
    }

    .carrito-2 {
        flex-direction: column;
    }
}

@media screen and (max-width:470px) {
    form textarea {
        width: 320px;
    }

    .cont-flex .tarjeta img {
        width: 250px;
        height: 300px;
    }
}
