footer {
    background-color: #000000;

    .footer-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 15px;

        div {
            h2 {
                text-align: center;
                color: #ffffff;
                font-size: 25px;
            }

            p {
                text-align: center;
                color: #ffffff;
                font-size: 20px;
                font-weight: bold;
            }

            a {
                font-size: 55px;
                margin: 14px;
                color: #ffffff;
            }

            iframe {
                width: 200px;
                height: 200px;
                margin-bottom: 30px;
                border-radius: 10px;
            }
        }
    }
}

.accordion-button:focus {
    border-color: #000000 !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25) !important;
    background-color: #00000033 !important;
    color: white !important;
}

.accordion-button.collapsed {
    background-color: #00000033 !important;
    color: white !important;
}

.accordion-button:not(.collapsed) {
    border-color: #000000 !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25) !important;
    background-color: #00000033 !important;
    color: white !important;
}