header {
    background-color: #000000;

    section {
        display: flex;
        justify-content: space-around;
    }
}

.navbar {
    background-color: #000000;

    div {
        img {
            width: 150px;
            height: 70px;
            margin-right: 10px;
        }

        a {
            &:hover {
                transform: scale(1.1);
            }

            i {
                color: #ffffff;
                font-size: 30px;
                margin-left: 10px;
            }
        }
    }
}

.nav-lik {
    font-weight: bolder;
    font-size: 30px;
    color: #ffffff !important;
    padding: 0px 7px 0px 7px;

    &:hover {
        background-color: #ffffff97;
        border-radius: 8px;
        color: #000000 !important;
    }
}

.nav-item {
    font-weight: bolder;
    font-size: 20px;
    margin: 5px;
}

.active {
    color: #ffffff !important;
    padding: 1px;
    transition: background-color 0.3s ease, border-radius 0.3s ease, color 0.3s ease;
    border-radius: 5px;

    &:hover {
        background-color: #ffffff97;
        border-radius: 8px;
        color: #000000 !important;
    }
}

.btn {
    background-color: #000000;
}

.navbar-toggler-icon {
    background-color: #ffffff;
    border-radius: 3px;
}