@media screen and (max-width:1050px) {
    .cont-flex div {
        flex-direction: column;
        align-items: center;
    }

    .cont-flex div .tarjeta {
        padding: 30px;
        margin: 30px 0px 30px 0px;
    }

    .cont-flex div .tarjeta img {
        width: 300px;
        height: 350px;
    }
}

@media screen and (max-width:995px) {
    .destacados div {
        grid-template-columns: 1fr 1fr;
    }

    .destacados div .img-4 {
        grid-column: span 1;
    }

    .destacados div .img-4 img {
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width:883px) {
    .prod-galeria div {
        grid-template-columns: 1fr 1fr;
    }

    .combo {
        flex-direction: column;
        align-items: start;

        ul {
            padding: 10px;
        }
    }

    .prod-similares div {
        .tarjeta {
            img {
                width: 200px;
                height: 250px;
            }
        }
    }

    .form {
        div {
            width: 600px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        select {
            width: 600px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        textarea {
            padding: 5px;
            width: 600px;
            height: 90px;
        }
    }
}

@media screen and (max-width:820px) {
    header section h1 {
        font-size: 50px;
    }

    .destacados div {
        grid-template-columns: 1fr;
    }

    .destacados div .tarjeta img {
        width: 400px;
        height: 400px;
    }

    .footer-container {
        flex-direction: column;
    }

    footer .footer-container div iframe {
        width: 300px;
    }

    header section .img-icono {
        width: 40px;
    }

}

@media screen and (max-width:820px) {
    .prod-similares div {
        flex-direction: column;
        align-items: first baseline;
    }
}

@media screen and (max-width:700px) {
    header section h1 {
        font-size: 40px;
    }

    .destacados div .tarjeta img {
        width: 350px;
        height: 350px;
    }

    header section .img-icono {
        width: 30px;
    }
}

@media screen and (max-width:670px) {
    .form {
        div {
            width: 400px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        select {
            width: 400px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        textarea {
            padding: 5px;
            width: 400px;
            height: 90px;
        }
    }
}



@media screen and (max-width:587px) {
    .prod-galeria div {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:570px) {
    .carrito-de-compra div {
        flex-direction: column;
    }

    .combo {
        img {
            width: 400px;
            height: 250px;
        }
    }
}

@media screen and (max-width:518px) {
    header section .img-icono {
        width: 40px;
    }

    .destacados div .tarjeta img {
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width:470px) {
    .form {
        div {
            width: 300px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        select {
            width: 300px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        textarea {
            padding: 5px;
            width: 300px;
            height: 90px;
        }
    }

    .cont-flex div .tarjeta img {
        width: 230px;
        height: 250px;
    }

    .combo {
        img {
            width: 350px;
            height: 200px;
        }
    }

    .prod-similares div {
        margin: 20px;
    }
}

@media screen and (max-width:386px) {
    .cont-flex div .tarjeta img {
        width: 200px;
        height: 220px;
    }

    .combo {
        img {
            width: 300px;
            height: 150px;
        }

        ul {
            font-size: 14px;
        }
    }

    .accordion-button:focus {
        border-color: #000000 !important;
        box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25) !important;
        background-color: #00000033 !important;
        color: white !important;
    }

    .accordion-button.collapsed {
        background-color: #00000033 !important;
        color: white !important;
    }

    .accordion-button:not(.collapsed) {
        border-color: #000000 !important;
        box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25) !important;
        background-color: #00000033 !important;
        color: white !important;
    }
}